html {
	height: 100%; 
}

body {
	background-color: rgb(235, 235, 235);
	color: #EFEFEF;
	height: 100%; 
}

input {
	font-size: 14px;
	padding: 3px;
	border: 1px solid #5C6B85;
}

button {
	margin-top: 4px;
}

#controls {
	height: 50px;
	background-image: url(/img/header.png);
	background-repeat: repeat-x;
	padding: 12px 0px 10px 0px;
	font-size: 14px;
}

#channels-container {
	border: 2px solid #454545;
	color: #EFEFEF;
	height: 30px;
	background-color: rgb(80, 80, 80);
	margin-bottom: 10px;
}

#log {
	font-family: Courier New, monospace;
	background-color: #252525;
	min-height: 80%;
	border: 2px solid #555555;
}

div.channel {
	font-size: 11px;
}

div.channel a {
	color: #EFEFEF;
}

div.message {
	padding: 4px;
	margin: 4px;
	border: 1px solid #555555;
	background-color: #444444;
}

div.message span {
	color: #99FFFF;
	margin-right: 10px;
}

#footer {
	text-align: center;
	font-size: 11px;
	margin-top: 10px;
	color: #454545;
}